.container {
	margin: 0 auto;
	width: 100%;
}

.wrapper {
	margin: 0 auto;
	display: block;
	overflow: hidden;
	max-width: 825px;
}

.content {
	margin: 0 auto;
	max-width: 550px;
}

article {
	margin-bottom: 3.76em;
}