body {
	background-color: $bg;
	font-family: $body-font;
	font-kerning: normal;
	font-size: $fs;
	height: 100%;
	overflow-x: hidden;
	@include text-size-adjust(none);
	-webkit-font-smoothing: antialiased;
	@media (max-width: 480px) {
		font-size: $fs_small;
	}
}