@font-face {
	font-family: 'courier_primeregular';
	src: url('/css/fonts/courier_prime-webfont.eot');
	src: url('/css/fonts/courier_prime-webfont.eot?#iefix') format('embedded-opentype'),
		url('/css/fonts/courier_prime-webfont.woff2') format('woff2'),
		url('/css/fonts/courier_prime-webfont.woff') format('woff'),
		url('/css/fonts/courier_prime-webfont.ttf') format('truetype'),
		url('/css/fonts/courier_prime-webfont.svg#courier_primeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}