p {
	color: $body-black;
	line-height: $lh;
	font-weight: 400;
	margin-bottom: $mb;
	code {
		background: #fafafa;
		border: 1px solid #ddd; 
		@include border-radius(5px);
		font-family: $code;
		margin-bottom: $mb;
		padding: 3px 4px 3px 4px;
	}
}

article, 
div[class*="navigation"] {
	p, ul, ol, h4, blockquote {
		a, a:visited {
			border-bottom: 2px solid transparent;
			color: $red;
			font-weight: 600;
			text-decoration: none;
			@include transition(border 200ms, color 200ms ease-out);
		}
		a:hover, a:visited:hover {
			border-bottom: 3px solid #efefef;
			color: $lightred;
		}
	}
}

h1, h2, h3, h4, h5, h6, blockquote {
	text-rendering: optimizeLegibility;
	font-family: $heading-font;
}

h2 {
	color: $black;
	font-size: $fs2;
	font-weight: 700;
	line-height: 1.925925926;
	margin: 1.925925926em 0 0.962962963em;
}

h3 {
	color: $black;
	font-weight: 700;
	font-size: $fs3;
	line-height: 1.238095238;
	margin: 1.238095238em 0 1.238095238em;
}

h4 {
	color: $black;
	font-size: $fs4;
	font-weight: 700;
	margin: $mb 0 $mb;
	text-transform: uppercase;
}

h5 {
	color: $gray;
	font-size: $fs5;
	line-height: $lh;
	margin: $lh 0 $lh;
	a {
		color: $gray;
		text-decoration: none;
	}
}

h6 {
	font-size: $fs6;
	line-height: 2.8698em;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

ul {
	color: $black;
	list-style-type: disc;
	margin-bottom: $mb;
	li {
		margin-bottom: $mb/2;
	}
}

ol {
	color: $black;
	list-style-type: decimal;
	margin-bottom: $mb;
}

li {
	color: $body-black;
	line-height: $lh;
	margin-left: 2.5em;
}

blockquote {
	border-left: 0.5em solid $red;
	font-size: $fs3;
	padding-left: 1.2em;
	margin-left: -3.5em;
	margin-top: $mb;
	p {
		color: $gray;
		font-style: italic;
		margin-bottom: 1.3em;
	}
}

hr {
	border-bottom-color: $lightgray;
	border-bottom-style:solid;
	border-width: 0 0 2px;
	margin: -2px auto $mb*2;
	padding-top: $mb;
	width: 10rem;
}

sup, sub {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	top: 0.4em;
}

::selection {
	background: $lightred;
	color: $bg;
}
