<footer class="cf">
      <img class="rogin-icon" alt="Rogin's photo" src="http://www.gravatar.com/avatar/1d03e5cfce3294705159e7780d039ddb.png" />
  <h4>Rogin Farrer</h4>
  <p>Senior drama major at Vassar College, designer, and writer.<br> I enjoy story-telling, technology, and good coffee.</p>
  <ul>
      <li><a href="http://twitter.com/RoginFarrer"><img class="twitter-follow" src="https://s3.amazonaws.com/roginfarrer.com/social-icons/twitter.png"/></a></li>
      <li><a href="http://www.linkedin.com/in/roginfarrer/"><img class="linkedin-follow" src="https://s3.amazonaws.com/roginfarrer.com/social-icons/linkedin.png"/></a></li>
      <li><a href="https://www.rdio.com/people/rogin/"><img class="rdio-follow" src="https://s3.amazonaws.com/roginfarrer.com/social-icons/rdio.png"/></a></li>
      <li><a href="mailto:rogin@roginfarrer.com"><img class="mail-follow" src="https://s3.amazonaws.com/roginfarrer.com/social-icons/mail.png"/></a></li>
      <li><a href="http://roginfarrer.com/feed.xml"><img class="feed-follow" src="https://s3.amazonaws.com/roginfarrer.com/social-icons/feed.png"/></a></li>
  </ul>
  <h5>&#169; 2014 Rogin Farrer</h5>
</footer>