<footer class="cf">
      <img class="rogin-icon" alt="Rogin's photo" src="http://www.gravatar.com/avatar/1d03e5cfce3294705159e7780d039ddb.png" />
  <h4>Rogin Farrer</h4>
  <p>Theater-maker, pixel-pusher, and writer based in Boston.<br> I enjoy story-telling, technology, and good coffee.</p>
  <ul>
      <li><a href="http://twitter.com/RoginFarrer"><img class="twitter-follow" src="http://cdn.roginfarrer.com/social-icons/twitter.png"/></a></li>
      <li><a href="mailto:rogin@roginfarrer.com"><img class="mail-follow" src="http://cdn.roginfarrer.com/social-icons/mail.png"/></a></li>
      <li><a href="http://superbmeteors.com/feed"><img class="feed-follow" src="http://cdn.roginfarrer.com/social-icons/feed.png"/></a></li>
  </ul>
	<h5>&#169; {{ site.time | date: "%Y" }} Rogin Farrer</h5>
</footer>