<header class="animated fadeInDown cf">
	<div class="cover-wrap">
		<h1 class="home"><a href="/" title="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">Superb Meteors</a></h1>
		<nav class="nav">
				<ul>
					<li><a href="/about"><i class="fa fa-user fa-fw"></i><span class="nav-text"> About</span></a></li>
					<li><a href="/"><i class="fa fa-book fa-fw"></i><span class="nav-text"> Posts</span></a></li>
					<li><a href="http://roginfarrer.com"><i class="fa fa-briefcase fa-fw"></i><span class="nav-text"> Portfolio</span></a></li>
				</ul>
		</nav>
	</div>
</header>