<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">

  <title>{% if page.title %}{{ page.title }} — {{ site.name }}{% else %}Tech, Design, and Theater — {{ site.name }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="{{ "/css/animate.min.css" | prepend: site.baseurl }}" rel="stylesheet" />
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed/" | prepend: site.baseurl | prepend: site.url }}" />

  <!-- Typekit -->
  <script src="//use.typekit.net/hnz6jnk.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>