img {
	height: auto;
	display: block;
	margin-bottom: $mb;
}

figure {
	padding: 0;
	img {
		padding: 0;
		max-width: 100%;
		a {
			border: none;
			text-decoration: none;
		}
	}
}

figcaption {
	color: $gray;
	font-size: $fs5;
	line-height: $lh;
	margin-bottom: $mb;
}
	
.alignleft {
	float:left; 
	margin-left: -15%;
	margin-right: $mb; 
	margin-top: 0.4em; 
	width: 50%;
}

.alignright {
	float:right; 
	margin-left: $mb; 
	margin-right: -15%; 
	margin-top: 0.4em; 
	width: 50%;
}

.aligncenter { 
	width: auto;
	img {
		margin-left: auto;
		margin-right: auto;
	}
	figcaption {
		text-align: center;
	}
}

.imgbleed { 
	margin-left: -15%; 
	width:130%;
	figcaption {
		padding: 0;
		text-align: center;
	}
}

.grid-container figcaption {
	padding: 0;
	text-align: center;
}

.box-shadow { box-shadow: 0px 10px 15px 4px #b3b3b3; }

