@media screen and (max-width: 700px) {
	body {
		font-size: $fs_smaller; /* 18px */
	}
}

@media screen and (max-width: 500px) {
	h1 {
		float: none;
		margin-bottom: $mb;
	}
	.home {
		display: block;
		margin: 0 auto;
		text-align: center;
	}
	nav {
		display: block;
		float: none;
		margin: 0 auto;
		text-align: center;
		ul li {
			margin-right: 27px;
		}
	}
	body { 
		font-size: $fs_smaller; /* 17px */
	}
}
