@media screen and (max-width: 700px) {
	body {
		font-size: 1.125em; /* 18px */
	}
	p {
		line-height: 1.45;
	}
}

@media screen and (max-width: 500px) {
	.home {
		display: block;
		margin: 0 auto;
		text-align: center;
	}
	nav {
		display: block;
		float: none;
		margin: 0 auto;
		text-align: center;
	}
	body { 
		font-size: 1.063em; /* 17px */
	}
	p {
		line-height: 1.4;
	}
}
