p {
  color: $body-black;
  font-family: $bf;
  line-height: $lh;
  font-weight: 400;
  margin-bottom: $mb;
}

article, div[class*="navigation"] p {
  a, a:visited {
    color: $red;
    font-weight: 500;
    text-decoration: underline;
  }
  a:hover, a:visited:hover {
    color: $darkred;
    text-decoration: underline;
  }
}

h1 {
  font-size: 19px;
  font-weight: 500;
  float: left;
  margin: 0;
  a {
    color: $black;
    text-decoration: none;
  }
  a:visited {
    color: $black;
  }
  a:hover {
    color: $red;
  }
}

h1.article-title {
  float: none;
  font-size: $fs1;
  font-weight: 700;
  line-height: 1.38095238em;
  margin: 1.38095238em 0 0;
  text-shadow: none;
}

h1.page-title {
  text-align: center;
}

h2 {
  color: $black;
  font-size: $fs2;
	font-weight: bold;
	line-height: 1.8125em;
	margin: 1.8125em 0 0.90625em;
}

h3 {
  color: $black;
	font-weight: bold;
  font-size: $fs3;
	line-height: 1.16em;
	margin: 1.16em 0 1.16em;
}

#home-titles {
	margin-top: .90625em;
	margin-bottom: 0;
  a {
    color: $black;
    text-decoration: none;
    @include transition(color 200ms ease);
  }
  a:hover {
    color: $red;
    @include transition(color 200ms ease);
  }
}

h4 {
  font-size: $fs4;
  margin: $mb 0 $mb;
}

h5 {
  color: $gray;
  font-size: $fs5;
  line-height: $lh;
  margin: $lh 0 $lh;
  a {
    color: $gray;
    text-decoration: underline;
  }
}

h5.article-meta {
  font-style: italic;
  margin-bottom: 2.7em;
  margin-top: 0;
}

.loop-meta {
  display: inline-block;
  float: left;
  margin-top: 0.8em;
}

h6 {
  font-size: $fs6;
  line-height: 2.8698em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

ul {
  color: $black;
  list-style-type: disc;
  margin-bottom: $mb;
  li {
    margin-bottom: $mb/2;
  }
}

ol {
  color: $black;
  list-style-type: decimal;
  margin-bottom: $mb;
}

li {
  color: $body-black;
  line-height: $lh;
  margin-left: 2.5em;
}

blockquote {
  border-left: 0.5em solid $red;
	font-size: $fs3;
  padding-left: 1.2em;
  margin-left: -3.5em;
	margin-top: $mb;
  p {
    color: $gray;
    font-style: italic;
		margin-bottom: 1.3em;
  }
}

img {
	height: auto;
	max-width: 100%;
	border: none;
	margin: auto 0 $mb;
	padding: 0;
}
img a {
	border: none;
	text-decoration: none;
}
.alignright {float:right; margin-left: $mb; margin-right: -15%; margin-top: 0.4em; width: 50%;}
.alignleft {float:left; margin-left: -15%; margin-right: $mb; margin-top: 0.4em; width: 50%;}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
.imgbleed { margin-left: -15%; width:130%; }
figure img { display: block; width: 100%; }

figcaption {
  color: $gray;
  font-size: $fs5;
  margin-bottom: $mb*2;
}

hr {
	border-bottom-color: $lightgray;
	border-bottom-style:solid;
	border-width: 0 0 2px;
	margin: -2px auto $mb*2;
	padding-top: $mb;
	width: 10rem;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}


::selection {
  background: $red;
  color: $bg;
}
