# BEGIN FEEDPRESS
RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} !FeedValidator [NC]
RewriteCond %{HTTP_USER_AGENT} !FeedPress [NC]
RewriteRule ^feed/?$ http://roginfarrer.com/feed [R=302,NC,L]
# END FEEDPRESS